.c-container {
    display: flex;
    justify-content: space-between;
  }
  
  .c-right {
    width: 100%;
    max-width: 400px;
  }
  
  .c-left {
    gap: 1.5rem;
  }
  
  .contactModes {
    margin-top: 1rem;
    gap: 1.5rem;
  }
  
  .contactModes .row {
    gap: 1rem;
  }
  
  .mode {
    width: 100%;
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 300ms ease-in, border 300ms ease-in;
    border: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mode .button {
    width: 100%;
    background: var(--lightBlue);
    color: var(--blue);
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .mode:hover {
    transform: scale(1.05);
    border: 1px solid rgba(128, 128, 128, 0.5);
  }
  
  .mode .detail .primaryText {
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .mode .button:hover {
    transform: scale(1.1);
    background: var(--blue-gradient);
    color: white;
}

  